

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.changelog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 50px 10px;
}

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_box {
    display: grid;
    height: 100%;
    gap: 10px;
}


.change_log {
    position: relative;
}


.change_descip:after {
    content: "";
    height: 110%;
    border: 1px solid black;
    position: absolute;
    top:0px;
    left:5px;
    transform: translateY(-4%);
}

ul  {
   display: grid;
   gap: 20px;
   list-style: none;
   align-items: center;
   padding-left:25px;
   font-size: 20px;
}

.link_visit {
    width: 250px;
    border-radius: 20px;
    height: 50px;
    background-color: black;
    text-align: center;
    padding: 16px;
}

.link_visit > a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul > li::after{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color:black;
  border-radius: 20px;
  position: absolute;
  content: "";
  left: 0px;
}

.chenge_data li{
        color: rgb(121, 123, 125);
    }

@media screen and (min-width:560px) {
        
    .container_box {
       grid-template-columns: auto auto;
       justify-content:space-around;
       gap: 20px;

    }

.change_descip:after {
  display: none;
}

ul {
    padding-left: 20px;
}

.change_descip::before {
    content: "";
    height: 110%;
    border: 1px solid black;
    position: absolute;
    top:0px;
    transform: translateY(-4%);
}

ul > li::after{
  display: none;
}

ul > li::before{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color:black;
  border-radius: 20px;
  position: absolute;
  content: "";
  left: 180px;
}


}
    
@media screen and (min-width:768px) {


    .home > p{
        font-size: 24px;
    }

    .home > h1 {
        font-size: 40px;
    }
    .container_box {
       grid-template-columns: auto auto auto;
       justify-content:space-between;

    }

    .change_descip::before {
        left:215px;
        height:110%;
        transform: translateY(-5%);
    }

    ul {
        gap: 40px;
    }

    ul > li {
        font-size: 22px;
    }

    .chenge_data li{
        color: rgb(121, 123, 125);
    }

    ul > li::before {
        left:206px;
        width: 15px;
        height: 15px;
    }

    .changelog {
        margin: 40px;
    }

    .change_log {
        width: 100%;
    }

.link_visit {
    width: 350px;
    border-radius: 20px;
    height: 60px;
    background-color: black;
    text-align: center;
    padding: 16px;
}

.link_visit > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
}


@media screen and (min-width:1024px) {


    .change_log {
        padding: 10px 50px;
    }

     .container_box {
       grid-template-columns: auto auto;
       justify-content:space-evenly;

    }
      ul > li::before{
        left:343px;
        width: 15px;
        height: 15px;

    }


    .container_box::after {
        left: 350px;
        height:110%;
        top: 0;
        transform: translate(50%,-5%);
    }

       .change_descip::before {
        left:350px;
        height:110%;
        transform: translateY(-5%);
    }
}

@media screen and (min-width:1440px) {

       .change_descip::before {
        left:480px;
        height:110%;
        border: 1.5px solid black;
        transform: translateY(-5%);
    }

     ul > li {
        font-size: 28px;
    }

     ul > li::before{
        left:470px;
        width: 20px;
        height: 20px;

    }

    .home > p{
        font-size: 30px;
    }

    .home > h1 {
        font-size: 50px;
    }

    .change_log {
        padding: 0 80px;
    }

    .changelog {
        margin: 50px 100px;
    }
}