* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin:0px 20px;  

}


.changelog {
    margin: 50px 0;
    padding:2rem ;
    border: 1px solid black;
    max-width:600px;
    width: 100%;
    border-radius: 20px;
    text-align: center;

}

.changelog
h1,
.link_visit {
    text-align: center;
}

.changelog > p {
    text-align: center;
}

.container_box {
    position: relative;
    padding: 0;
    margin: 20px 0;
}

.container_box::before {
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    position: absolute;
    margin-left: -1px;
}

.data_line{
    position: relative;
    margin-bottom:20px ;
    padding-left: 20px;
    text-align:left;
}

.data_date {
    color: rgb(149, 149, 144);
    font-size: 1rem
}

.data_content {
  font-size: 1rem;
  background-color: var(--background-color);
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  box-shadow:0 0 10px rgba(0,0,0, 0.10) ;
}

.data_line:nth-child(even) {
    left:0;
    text-align: left;
    padding-left:20px;
    padding-right: 0;
}


.data_line::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: black;
    top:4px;
    left:-5px;
}

.data_line:nth-child(even)::before {
    left: -5px;
}


.link_visit {
    display: inline-block;
    height: 40px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}


@media screen and (min-width:600px) {
    .data_line {
        width: calc(50%);
        text-align:right;
        padding-right:20px;
        padding-left: 0;
    }

    .data_line:nth-child(even) {
        text-align: left;
        padding-right:0px;
        left: 50%;
    }



    .data_line::before{
        left:calc(100% - 5px);
    }

    .container_box::before {
        left: 50%;
    }

} 